.clientsWrapper {
  width: 100%;
  height: calc(100vh - 50px);
  min-width: 1560px;

  @media screen and (max-width: 1560px) {
    min-width: 1280px;
    min-height: 640px;
    max-height: 657px;
  }

  @media screen and (max-width: 720px) {
    min-width: 375px;
    min-height: 500px;
    height: 550px;
    max-height: 600px;
  }

  ul {
    margin-bottom: 100px;

    @media screen and (max-width: 1560px) {
      margin-bottom: 20px;
    }
  }
  &.dark {
    background-image: url("../pngs/clients-back-black.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #001137;
  }

  &.light {
    background-color: white;
  }

  .clientsContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;

    // @media screen and (max-width: 1560px) {
    //   margin-bottom: 80px;
    // }
    @media screen and (max-width: 720px) {
      margin-bottom: 30px;
    }

    .title {
      margin-top: 70px;
      margin-bottom: 70px;

      @media screen and (max-width: 1560px) {
        margin-top: 40px;
        margin-bottom: 00px;
      }

      @media screen and (max-width: 720px) {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 190px;
      }
    }

    .sliderWindow {
      display: grid;
      grid-template-columns: 230px 230px 230px 230px 230px;
      row-gap: 10px;
      margin: o auto;

      @media screen and (max-width: 1560px) {
        row-gap: 14px;
      }

      @media screen and (max-width: 720px) {
        grid-template-columns: 82px 82px 82px;
        column-gap: 7px;
        row-gap: 7px;

      }
    }

    .carousel {
      width: 1150px;

      @media screen and (max-width: 1560px) {
        width: 1150px;
      }
      @media screen and (max-width: 720px) {
        width: 280px;
      }
    }
  }
}
