.clientWrapper {
  width: 230px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1560px) {
    min-width: 210px;
    height: 140px;
  }

  @media screen and (max-width: 720px) {
    min-width: 82px;
    height: 55px;
    width: 82px;
  }

  &.dark {
    background-image: url("../pngs/client-black.webp");
  }

  &.light {
    background-image: url("../pngs/client-light.webp");
  }

  img {
    max-height: 100px;
    max-width: 170px;
    width: max-content !important;

    @media screen and (max-width: 720px) {
      max-height: 37px;
      max-width: 60px;
    }
  }
}
