.consultItem {
  width: 340px;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;

  @media screen and (max-width: 1560px) {
    width: 300px;
  }
  p {
    margin: 0 0 0 22px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: rgba(144, 163, 171, 1);

    @media screen and (max-width: 1560px) {
      font-size: 14px;
    }
  }

  .check {
    width: 11px;
    height: 11px;
    border: 1px solid black;
    margin-right: 16px;

    &.checked {
      background: linear-gradient(180deg, #6997ff 0%, #62e4f7 100%);
    }
  }
}
