.consultationWrapper {
  width: 100%;
  height: 694px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1560px) {
    min-width: 1280px;
    height: 520px;

  }

  &.dark {
    background-image: url("../pngs/consult-back-black.webp");
  }

  &.light {
    background-image: url("../pngs/consult-back-light.webp");
  }

  .consultationContent {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2,
    h3 {
      color: white;
    }
    h2 {
      font-size: 40px;
      font-weight: 800;
      margin: 70px 0 10px 0;
      @media screen and (max-width: 1560px) {
        font-size: 32px;
        margin: 60px 0 16px 0;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      @media screen and (max-width: 1560px) {
        font-size: 14px;
      }
    }

    section {
      width: 1090px;
      display: flex;
      flex-direction: column;
      margin-top: 46px;

      @media screen and (max-width: 1560px) {
        margin-top: 25px;
        width: 940px;

      }

      .subtitle {
        color: white;
        margin-bottom: 18px;
        @media screen and (max-width: 1560px) {
          margin-bottom: 14px;

        }
        h4 {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          font-weight: 600;
          margin: 0 0 4px 0;
          @media screen and (max-width: 1560px) {
            font-size: 16px;
            margin: 0 0 14px 0;
          }
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          @media screen and (max-width: 1560px) {
            font-size: 12px;
          }
        }
      }

      .tasks {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
      }

      .policy {
        p {
          color: white;
          font-size: 14px;
          @media screen and (max-width: 1560px) {
            font-size: 12px;
          }

          a {
            color: white;
          }
        }
      }
      .sendMail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: white;
        margin-top: 40px;

        @media screen and (max-width: 1560px) {
          margin-top: 20px;
        }

        .sendMailItem {
          width: 340px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          @media screen and (max-width: 1560px) {
            width: 300px;
          }

          label {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;

            @media screen and (max-width: 1560px) {
              font-size: 16px;
              margin-bottom: 14px;
            }
          }

          input {
            width: 316px;
            height: 50px;
            outline: none;
            border: none;
            font-size: 15px;
            border-radius: 8px;
            padding-left: 22px;

            @media screen and (max-width: 1560px) {
              font-size: 14px;
              width: 274px;
            }
          }

          button {
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
            width: 340px;
            height: 54px;
            border-radius: 8px;
            border: none;
            outline: none;
            color: #383838;
            font-weight: 700;
            font-size: 15px;

            @media screen and (max-width: 1560px) {
              font-size: 14px;
              width: 300px;
            }

            &.dark {
              background-color: rgba(122, 214, 251, 1);
            }

            &.light {
              background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%);
            }
          }
        }
      }
    }
  }
}
