.footerWrapper {
  width: 100%;
  height: 550px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1560px) {
    min-width: 1280px;
    height: 350px;
  }

  @media screen and (max-width: 720px) {
    width: 100%;
    height: 200px;
    min-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.dark {
    background-image: url("../pngs/footer-black.webp");
  }

  &.light {
    background-image: url("../pngs/footer-light.webp");
  }

  .footerContent {
    margin: 100px auto;
    width: 1280px;
    height: 250px;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: 210px 160px 245px 280px;
    justify-content: space-between;

    @media screen and (max-width: 1560px) {
      width: 1200px;
      margin: 40px auto;
    }

    h4 {
      margin: 0 0 32px 0;
      color: white;
      font-family: Montserrat;
      font-size: 27px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (max-width: 1560px) {
        font-size: 24px;
        margin: 0 0 27px 0;
      }
    }
    .logo {
      width: 210px;
    }
    .navigation {
      width: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;

      @media screen and (max-width: 1560px) {
        width: 150px;
      }

      a {
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 1560px) {
          font-size: 16px;
          margin: 0 0 20px 0;
        }
      }
    }
    .services {
      width: 245px;
      display: flex;
      flex-direction: column;
      color: white;
      @media screen and (max-width: 1560px) {
        width: 220px;
      }
      a {
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 1560px) {
          font-size: 16px;
          margin: 0 0 20px 0;
        }
      }
    }
    .contacts {
      h4 {
        margin: 0 0 26px 0;

        @media screen and (max-width: 1560px) {
          margin: 0 0 20px 0;
        }
      }
      width: 304px;
      color: white;
      display: flex;
      flex-direction: column;

      .phone {
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 1.1427342891693115px;
        text-align: left;
        margin-bottom: 14px;

        @media screen and (max-width: 1560px) {
          font-size: 15px;
        }

        .copy,
        .whats,
        .teleg {
          cursor: pointer;
        }

        .whats {
          margin: 0 10px 0 20px;
        }
      }
      .email {
        // margin-top: 14px;
        display: flex;
        span {
          font-size: 17px;
          font-weight: 400;
          letter-spacing: 0em;
          text-align: center;
          @media screen and (max-width: 1560px) {
            font-size: 15px;
          }
        }
        .copy {
          margin-left: 8px;
          margin-top: -2px;
          cursor: pointer;
          position: relative;

          span {
            position: absolute;
            top: 30px;
            left: -10px;
            font-size: 14px;
            transition: 1s;

            @media screen and (max-width: 1560px) {
              left: -60px;
            }

            &.hover {
              width: 150px;
            }
          }
        }
      }
      .address {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

        @media screen and (max-width: 1560px) {
          font-size: 16px;
          margin-top: 10px;
        }
        p {
          margin-top: 8px;
          margin-bottom: 0;
        }
      }
      .policy {
        margin-top: 22px;
        font-size: 18px;

        a {
          text-decoration: none;
          color: white;
        }

        @media screen and (max-width: 1560px) {
          font-size: 16px;
          margin-top: 16px;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.dark {
          div {
            box-shadow: 0px 4.3917107582092285px 2.1958553791046143px 0px rgba(0, 0, 0, 0.25);
          }

          button {
            border: 1px solid rgba(0, 237, 255, 0.7);
            background: rgba(1, 44, 113, 1);
            color: white;
            box-shadow: 0px 1.0979276895523071px 8.783421516418457px 0px rgba(255, 255, 255, 1) inset;

            &:hover {
              color: rgba(0, 237, 255, 1);
              font-weight: 600;
            }
          }
        }

        &.light {
          button {
            border: 1px solid black;
            background: #efefef;
            font-weight: 500;
            color: #383838;
            background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%);
          }
        }

        div {
          margin: 14px 0 0 0;
          width: 192px;
          height: 50px;

          button {
            font-family: "Montserrat", sans-serif;
            width: 247px;
            height: 60px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;

            @media screen and (max-width: 1560px) {
              width: 219px;
              height: 49px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .footerMobile {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 10px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
      margin: 0 0 20px 0;
    }

    .footerContactMobile {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 8px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      img {
        width: 10px;
        height: 10px;
        margin: 0 4px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.dark {
        div {
          box-shadow: 0px 4.3917107582092285px 2.1958553791046143px 0px rgba(0, 0, 0, 0.25);
        }

        button {
          border: 1px solid rgba(0, 237, 255, 0.7);
          background: rgba(1, 44, 113, 1);
          color: white;
          box-shadow: 0px 1.0979276895523071px 3.783421516418457px 0px rgba(255, 255, 255, 1) inset;

          &:hover {
            color: rgba(0, 237, 255, 1);
            font-weight: 600;
          }
        }
      }

      &.light {
        button {
          border: 1px solid black;
          background: #efefef;
          font-weight: 500;
          color: #383838;
          background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%);
        }
      }

      div {
        margin: 14px 0 0 0;
        width: 137px;
        height: 31px;

        button {
          font-family: "Montserrat", sans-serif;
          width: 137px;
          height: 31px;
          font-size: 10px;
          border-radius: 5px;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .messMobile {
      display: flex;
      align-items: center;
      width: 44px;
      justify-content: space-between;
      margin-top: 10px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
