.mainWrapper {
  width: 100%;
  height: 100vh;
  min-width: 1560px;

  @media screen and (max-width: 1560px) {
    min-width: 1280px;
    max-height: 768px;
  }

  @media screen and (max-width: 720px) {
    width: 100%;
    height: 896px;
  }

  &.dark {
    background-image: url("../pngs/main-back-black2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &.light {
    background-image: url("../pngs/main-back-light.webp");
  }

  .mainContent {
    border: 1px solid rgba(0, 175, 220, 0);
    width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: 1560px) {
      width: 1200px;
    }

    .themeSwitcherWrapper {
      width: 100%;
      height: 30px;
      margin-top: 110px;
      margin-bottom: 72px;
      @media screen and (max-width: 1560px) {
        margin-top: 90px;
        margin-bottom: 50px;
      }

      .pulse {
        width: 76px;
        height: 24px;
        position: absolute;

        &::after,
        &::before {
          content: "";
          position: absolute;

          left: -20px;
          opacity: 0;
          right: -20px;
          top: -14px;
          bottom: -20px;
          border-radius: 15px;
          animation: pulse 2.5s linear infinite;
        }

        &::after {
          animation-delay: 1.25s;
        }

        @keyframes pulse {
          0% {
            transform: scale(0.7);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            transform: scale(1);
            opacity: 0;
          }
        }
      }
      .themeSwitcher {
        float: right;
        width: 76px;
        height: 30px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;

        &.light {
          border: 1px solid white;
          background: linear-gradient(rgba(0, 74, 183, 1), rgba(0, 175, 220, 1));
          .toggler {
            border: 1px solid white;
            background-color: rgba(0, 237, 255, 1);

            .togglerBox {
              background: rgba(0, 237, 255, 1);
              box-shadow: 0px 2.8466668128967285px 6.3541669845581055px 1.2708333730697632px rgba(0, 43, 49, 0.15) inset;
            }
          }

          .pulse {
            &::after,
            &::before {
              background: linear-gradient(168.01deg, rgba(0, 74, 183, 0.3) 18.57%, rgba(0, 175, 220, 0.3) 91.24%);
            }
          }
        }

        &.dark {
          border: 2px solid white;
          background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%), linear-gradient(116.7deg, #9cbcf9 19.98%, #00edff 91.97%);

          .toggler {
            border: 1px solid #383838;
            background-color: white;

            .togglerBox {
              background: white;
              box-shadow: 0px 2.8466668128967285px 6.3541669845581055px 1.2708333730697632px rgba(0, 43, 49, 0.15) inset;
            }
          }

          .pulse {
            &::after,
            &::before {
              background: linear-gradient(
                137.83deg,
                rgba(0, 118, 228, 0.8) -38%,
                rgba(122, 191, 255, 0.8) 21.36%,
                rgba(193, 253, 254, 0.8) 80.72%,
                rgba(152, 252, 254, 0.8) 140.08%
              );
            }
          }
        }

        .toggler {
          width: 21px;
          height: 20px;
          border-radius: 4px;
          margin: 4px 3px 3px 6px;
          display: flex;
          align-items: center;
          justify-content: center;

          .togglerBox {
            width: 12px;
            height: 12px;
            border-radius: 2px;
          }
        }
      }
    }
  }

  .mainInfo {
    display: flex;
    .textInfo {
      margin-top: 10px;

      @media screen and (max-width: 1560px) {
        margin-top: 0;
      }

      &.dark {
        .preTitle,
        h2 {
          color: white;
        }
      }

      &.light {
        .preTitle,
        h2 {
          color: #383838;
        }
      }

      .preTitle {
        font-size: 14px;
        margin: 0;
        line-height: 54px;

        @media screen and (max-width: 1560px) {
          font-size: 13px;
        }
      }

      h2 {
        font-size: 48px;
        line-height: 54px;
        width: 600px;
        margin: 0;

        @media screen and (max-width: 1560px) {
          font-size: 40px;
          font-weight: 600;
        }
      }
      section {
        width: 220px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
        margin: 20px 0 30px 0;

        .textItem {
          width: 204px;
          height: 37px;
          position: relative;

          @media screen and (max-width: 1560px) {
            width: 175px;
            height: 32px;
          }

          &.dark {
            background: url("../pngs//main-info-item-back.webp");
            p {
              color: rgba(0, 237, 255, 1);
            }
          }

          &.light {
            background: url("../pngs//main-info-item-back-light.webp");

            p {
              color: rgba(0, 138, 238, 1);
            }
          }

          p {
            margin: 0;
            top: 6px;
            right: 14px;
            position: absolute;
            font-size: 13px;
            font-family: "Rubik", sans-serif;

            @media screen and (max-width: 1560px) {
              font-size: 11px;
              top: 8px;
            }
          }

          &:nth-child(2) p,
          &:nth-child(4) p {
            position: relative;
            left: 60px;
          }
        }
      }

      .actions {
        display: flex;
        width: 414px;
        align-items: center;
        justify-content: space-between;
        margin-top: 104px;

        @media screen and (max-width: 1560px) {
          margin-top: 50px;
          width: 370px;
        }

        @media screen and (max-width: 720px) {
          margin-top: 50px;
          width: 360px;
        }

        @media screen and (max-width: 370px) {
          width: 360px;
        }

        &.dark {
          div {
            box-shadow: 0px 4.3917107582092285px 2.1958553791046143px 0px rgba(0, 0, 0, 0.25);
          }

          button {
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            border: 1px solid rgba(0, 237, 255, 0.7);
            background: rgba(1, 44, 113, 1);
            color: white;
            box-shadow: 0px 1.0979276895523071px 8.783421516418457px 0px rgba(255, 255, 255, 1) inset;

            @media screen and (max-width: 1560px) {
              font-size: 11px;
            }

            &:hover {
              font-weight: 600;
              color: #00edff;
              @media screen and (max-width: 1560px) {
                font-size: 12px;
              }
            }
          }
        }

        &.light {
          button {
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            border: 1px solid #383838;
            background: #efefef;
            font-weight: 500;
            color: #383838;
            @media screen and (max-width: 1560px) {
              font-size: 11px;
            }

            &:hover {
              background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%);
              font-size: 14px;
              letter-spacing: -0.5px;

              @media screen and (max-width: 1560px) {
                font-size: 12px;
              }
            }
          }
        }

        div {
          margin: 0 5px;
          width: 192px;
          height: 50px;

          @media screen and (max-width: 1560px) {
            margin: 0px;
            width: 175px;
            height: 41px;
          }

          button {
            font-family: "Tektur", cursive;
            width: 192px;
            height: 50px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;

            @media screen and (max-width: 1560px) {
              width: 175px;
              height: 41px;
            }
          }
        }
      }
    }

    .showInfo {
      width: 745px;
      height: 475px;
      position: relative;
      left: 70px;
      top: -50px;

      @media screen and (max-width: 1560px) {
        width: 650px;
        height: 433px;
        left: 0px;
        top: -20px;
      }
      &.light {
        @media screen and (max-width: 1560px) {
          top: -24px;
        }
      }

      .showreelP {
        position: absolute;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        top: 20px;
        left: 260px;
        z-index: 2;
      }
    }
  }
}

.mainWrapperMobile {
  width: 100%;
  height: 896px;
  min-width: 360px;

  &.dark {
    background-image: url("../pngs/main-back-black3-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .preTitleMobile, h2 {
      color: white;
    }
  }

  &.light {
    background-image: url("../pngs/main-back-light-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;

    .preTitleMobile, h2 {
      color: #383838;
    }

  }

  .mainContentMobile {
    border: 1px solid rgba(0, 175, 220, 0);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .themeSwitcherWrapper {
      width: 100%;
      height: 30px;
      margin-top: 70px;
      margin-bottom: 40px;


      .pulse {
        width: 76px;
        height: 24px;
        position: absolute;

        &::after,
        &::before {
          content: "";
          position: absolute;

          left: -20px;
          opacity: 0;
          right: -20px;
          top: -14px;
          bottom: -20px;
          border-radius: 15px;
          animation: pulse 2.5s linear infinite;
        }

        &::after {
          animation-delay: 1.25s;
        }

        @keyframes pulse {
          0% {
            transform: scale(0.7);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            transform: scale(1);
            opacity: 0;
          }
        }
      }
      .themeSwitcher {
        float: right;
        width: 76px;
        height: 30px;
        border-radius: 8px;
        position: relative;
        cursor: pointer;

        &.light {
          border: 1px solid white;
          background: linear-gradient(rgba(0, 74, 183, 1), rgba(0, 175, 220, 1));
          .toggler {
            border: 1px solid white;
            background-color: rgba(0, 237, 255, 1);

            .togglerBox {
              background: rgba(0, 237, 255, 1);
              box-shadow: 0px 2.8466668128967285px 6.3541669845581055px 1.2708333730697632px rgba(0, 43, 49, 0.15) inset;
            }
          }

          .pulse {
            &::after,
            &::before {
              background: linear-gradient(168.01deg, rgba(0, 74, 183, 0.3) 18.57%, rgba(0, 175, 220, 0.3) 91.24%);
            }
          }
        }

        &.dark {
          border: 2px solid white;
          background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%), linear-gradient(116.7deg, #9cbcf9 19.98%, #00edff 91.97%);

          .toggler {
            border: 1px solid #383838;
            background-color: white;

            .togglerBox {
              background: white;
              box-shadow: 0px 2.8466668128967285px 6.3541669845581055px 1.2708333730697632px rgba(0, 43, 49, 0.15) inset;
            }
          }

          .pulse {
            &::after,
            &::before {
              background: linear-gradient(
                137.83deg,
                rgba(0, 118, 228, 0.8) -38%,
                rgba(122, 191, 255, 0.8) 21.36%,
                rgba(193, 253, 254, 0.8) 80.72%,
                rgba(152, 252, 254, 0.8) 140.08%
              );
            }
          }
        }

        .toggler {
          width: 21px;
          height: 20px;
          border-radius: 4px;
          margin: 4px 3px 3px 6px;
          display: flex;
          align-items: center;
          justify-content: center;

          .togglerBox {
            width: 12px;
            height: 12px;
            border-radius: 2px;
          }
        }
      }
    }

    .preTitleMobile,
    h2 {
      text-align: center;
    }
    .preTitleMobile {
      margin: 0;
      font-size: 8px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0;
    }

    section {
      width: 100%;
      max-width: 360px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: auto;
      row-gap: 10px;
      margin: 20px 0 30px 0;

      .textItem {
        width: 170px;
        height: 30px;
        position: relative;
        border-radius: 5px;
        @media screen and (max-width: 400px) {
          width: 165px;
        }
        @media screen and (max-width: 375px) {
          width: 158px;
        }


        &.dark {
          background: url("../pngs//main-info-item-back.png");

                  @media screen and (max-width: 720px) {
                    background: url("../pngs//main-info-item-back-mobile.png");
                    background-size: cover;

        }
          p {
            color: rgba(0, 237, 255, 1);
          }
        }

        &.light {
          background: url("../pngs//main-info-item-back-light.png");

                  @media screen and (max-width: 720px) {
                    background: url("../pngs//main-info-item-back-light-mobile.png");
                    background-size: cover;
        }

          p {
            color: rgba(0, 138, 238, 1);
          }
        }

        p {
          width: 100px;
          margin: 0;
          top: 8px;
          right: 30px;
          position: absolute;
          font-size: 11px;
          font-family: "Rubik", sans-serif;

          @media screen and (max-width: 370px) {
            right: 20px;
          }
        }

        &:nth-child(2) p,
        &:nth-child(4) p {
          position: relative;
          left: 60px;
        }
      }
    }

    .showInfoMobile {
      width: 360px;
      height: 225px;
      position: relative;

      .showreelPMobile {
        position: absolute;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 8px;
        font-weight: 500;
        line-height: 10px;
        letter-spacing: 0em;
        text-align: left;
        top: -12px;
        left: 170px;
        z-index: 2;

        @media screen and (max-width: 370px) {
          top: 0px;
        }
      
    }
    }

    .actions {
      display: flex;
      width: 340px;
      align-items: center;
      justify-content: space-between;
      margin-top: 204px;



      &.dark {
        div {
          box-shadow: 0px 4.3917107582092285px 2.1958553791046143px 0px rgba(0, 0, 0, 0.25);
        }

        button {
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          border: 1px solid rgba(0, 237, 255, 0.7);
          background: rgba(1, 44, 113, 1);
          color: white;
          box-shadow: 0px 1.0979276895523071px 8.783421516418457px 0px rgba(255, 255, 255, 1) inset;
          font-size: 10px;

          &:hover {
            font-weight: 600;
            color: #00edff;
            font-size: 11px;
          }
        }
      }

      &.light {
        button {
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          border: 1px solid #383838;
          background: #efefef;
          font-weight: 500;
          color: #383838;
          font-size: 10px;


          &:hover {
            background: linear-gradient(137.83deg, #0076e4 -38%, #7abfff 21.36%, #c1fdfe 80.72%, #98fcfe 140.08%);
            font-size: 14px;
            letter-spacing: -0.5px;
            font-size: 11px;
          }
        }
      }

      div {
        margin: 0px;
        width: 158px;
        height: 37px;

        button {
          font-family: "Tektur", cursive;
          width: 158px;
          height: 37px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
}
