.titleWrapper {
  height: 80px;
  min-width: 400px;
  position: relative;

  @media screen and (max-width: 1560px) {
    min-width: 300px;
    height: 70px;
  }

  @media screen and (max-width: 720px) {
    min-width: 120px;
    height: 27px;
  }

  .titleMain {
    position: absolute;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  &.dark {
    .titleDublicate {
      position: absolute;
      letter-spacing: 0.05em;
      font-weight: 700;
      font-size: 55px;
      color: transparent;
      -webkit-text-stroke: 1px rgba(0, 255, 255, 0.123);

      @media screen and (max-width: 1560px) {
        font-size: 32px;
      }

      &.right {
        left: 10px;

        @media screen and (max-width: 1560px) {
          top: 0px;
        }
      }

      &.left {
        top: 0px;
        left: 36px;

        @media screen and (max-width: 1560px) {
          top: 6px;
          left: 36px;
        }
        @media screen and (max-width: 720px) {
          top: 0px;
          left: -10px;
        }
      }
    }

    .titleMain {
      color: rgba(0, 237, 255, 1);
      text-shadow: 0px 0px 5px #00edff;

      &.right {
        top: 14px;
        @media screen and (max-width: 720px) {
          top: 4px;
        }
      }

      &.left {
        top: 14px;
        left: 50px;
        @media screen and (max-width: 720px) {
          top: 4px;
          left: 0px;
        }
      }
    }
  }
  &.light {
    .titleDublicate {
      display: none;
    }

    .titleMain {
      color: #383838;

      &.right {
        top: 14px;
        @media screen and (max-width: 720px) {
          top: 4px;
        }
      }

      &.left {
        top: 14px;
        left: 50px;
        @media screen and (max-width: 720px) {
          top: 4px;
          left: 10px;
        }
      }
    }
  }
  p {
    margin: 0;
  }
}

.mainTitleWrapper {
  height: 80px;
  min-width: 320px;
  position: relative;

  @media screen and (max-width: 1560px) {
    height: 48px;
    min-width: 210px;
  }

  @media screen and (max-width: 720px) {
    height: 35px;
  }

  p {
    margin: 0;
  }

  .mainTitleMain {
    font-size: 48px;
    font-weight: 600;
    position: absolute;
    color: #383838;
    letter-spacing: 0.05em;

    @media screen and (max-width: 1560px) {
      font-size: 28px;
    }
    @media screen and (max-width: 720px) {
      font-size: 20px;
    }
  }

  &.dark {
    .mainTitleMain {
      color: rgba(0, 237, 255, 1);
      text-shadow: 0px 0px 5px #00edff;
      bottom: 0;
      left: 20px;

      @media screen and (max-width: 1560px) {
        left: 14px;
      }
      @media screen and (max-width: 720px) {
        left: 0px !important;
      }
    }

    .mainTitleDublicate {
      position: absolute;
      font-size: 55px;
      color: transparent;
      -webkit-text-stroke: 1px rgba(0, 255, 255, 0.123);
      font-weight: 700;
      letter-spacing: 0.05em;

      @media screen and (max-width: 1560px) {
        font-size: 32px;
      }
      @media screen and (max-width: 720px) {
        font-size: 20px;
      }
    }
  }

  &.light {
    display: flex;
    align-items: center;
    justify-content: center;
    .mainTitleDublicate {
      display: none;
    }
    .mainTitleMain {

      @media screen and (max-width: 720px) {
        left: 0px !important;
      }
    }
  }
}
