.videoMakingWrapper {
  width: 100%;
  height: 940px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1560px) {
    min-width: 1280px;
    min-height: 650px;
    max-height: 657px;
  }

  @media screen and (max-width: 720px) {
    min-width: 360px;
    min-height: 675px;
    max-height: 675px;
  }

  &.dark {
    background-image: url("../pngs/videomaking-backg-dark2.webp");

  }

  .videoMakingContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1560px) {
      height: 100%;
    }

    @media screen and (max-width: 720px) {
      width: 98%;
      margin: 0 auto;
      height: 675px;
    }

    .videoEllipse {
      // border: 1px solid red;
      position: absolute;
      top: 400px;

      @media screen and (max-width: 1560px) {
        top: 240px;
      }

      &.dark {
        background-image: url("../pngs/videomaking-ellipse-dark.webp");
        width: 1227px;
        height: 190px;

        @media screen and (max-width: 1560px) {
          width: 1000px;
          height: 150px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        @media screen and (max-width: 720px) {
          width: 330px;
          height: 51px;
          top: 172px;
        }
      }
      &.light {
        background-image: url("../pngs/videomaking-ellipse-light.webp");
        width: 892px;
        height: 177px;
        z-index: 1;

        @media screen and (max-width: 1560px) {
          top: 220px;
          width: 700px;
          height: 157px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        @media screen and (max-width: 720px) {
          width: 330px;
          height: 51px;
          top: 172px;
        }
      }
    }

    .videoMakingTitleBlockWrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      .videoMakingTitleBlock {
        margin-left: 50px;
        width: 1460px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1560px) {
          width: 980px;
          height: 75px;
          margin-left: 30px;
        }
        @media screen and (max-width: 720px) {
          width: 370px;
          height: 28px;
          margin-left: 0px;
        }

        @media screen and (max-width: 370px) {
          width: 360px;
        }

        &.dark {
          background-image: url("../pngs/video-title-dark.webp");
          @media screen and (max-width: 720px) {
            background-image: url("../pngs/video-title-dark-mobile.png");
          }
        }
        &.light {
          background-image: url("../pngs/video-title-light.webp");
          @media screen and (max-width: 720px) {
            background-image: url("../pngs/video-title-light-mobile.png");
          }
        }
        .divider {
          margin: 0 25px 0 20px;

          @media screen and (max-width: 1560px) {
            margin: 0 45px 0 30px;
          }

          &.dark {
            height: 37px;
            width: 2.7px;
            background-color: #00edff;
            box-shadow: 0px 0px 8px #00edff;
            @media screen and (max-width: 1560px) {
              height: 27px;
            }
            @media screen and (max-width: 720px) {
              height: 10px;
              width: 1px;
              margin: 0 30px 0 30px;
            }
          }

          &.light {
            height: 34px;
            width: 2.7px;
            background-color: #383838;
            @media screen and (max-width: 1560px) {
              height: 27px;
            }
            @media screen and (max-width: 720px) {
              height: 10px;
              width: 1px;
              margin: 0 30px 0 30px;
            }
          }
        }
      }
    }

    .digits {
      width: 100%;
      display: flex;
      width: 1040px;
      margin: 0 auto;
      justify-content: space-between;
      margin-top: 10px;

      @media screen and (max-width: 1560px) {
        height: 250px;
        width: 700px;
      }

      @media screen and (max-width: 720px) {
        width: 330px !important;
        height: 140px !important;
        margin-top: 50px;
      }

      &.dark {
        margin-bottom: 50px;
        height: 354px;

        @media screen and (max-width: 1560px) {
          margin-bottom: 0px;
          height: 240px;
        }
      }
      &.light {
        height: 364px;

        @media screen and (max-width: 1560px) {
          margin-bottom: 10px;
          height: 240px;
        }
      }
      .circle {
        width: 270px;
        height: 304px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        @media screen and (max-width: 1560px) {
          width: 190px;
          height: 220px;
        }

        @media screen and (max-width: 720px) {
          width: 90px;
          height: 110px;
        }

        &.dark {
          background-image: url("../pngs/video-making-circle.webp");
          p {
            &:first-child {
              color: rgba(0, 237, 255, 1);
            }
            &:last-child {
              color: white;
              margin-right: 20px;
            }
          }

          &:nth-child(1),
          &:nth-child(3) {
            .circleText {
              width: 170px;
              margin-bottom: 30px;
              margin-left: 0px;
              @media screen and (max-width: 1560px) {
                width: 110px;
                margin-left: 6px;
              }

              @media screen and (max-width: 720px) {
                width: 70px;
                margin-bottom: 20px;
              }

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                  @media screen and (max-width: 1560px) {
                    font-size: 40px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 21px;
                    line-height: 22px;
                  }
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;

                  @media screen and (max-width: 1560px) {
                    font-size: 12px;
                    margin-top: 10px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 6px;
                    margin-top: 0px;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
          &:nth-child(2) {
            .circleText {
              width: 170px;
              margin-bottom: 30px;
              margin-left: 10px;
              @media screen and (max-width: 1560px) {
                width: 110px;
              }
              @media screen and (max-width: 720px) {
                width: 60px;
                margin-bottom: 16px;
                margin-left: 4px;
              }
              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                  @media screen and (max-width: 1560px) {
                    font-size: 40px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 21px;
                    line-height: 22px;
                  }
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                  @media screen and (max-width: 1560px) {
                    font-size: 12px;
                    margin-top: 10px;
                    margin-right: 14px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 6px;
                    margin-top: 0px;
                    margin-right: 6px;
                  }
                }
              }
            }
          }
        }

        &.light {
          background-image: url("../pngs/video-making-circle-light.webp");
          .circleText p {
            color: #383838;

            &:last-child {
              margin-right: 20px;
            }
          }

          &:nth-child(1),
          &:nth-child(3) {
            .circleText {
              width: 170px;
              margin-bottom: 10px;
              margin-left: 14px;

              @media screen and (max-width: 1560px) {
                width: 110px;
                margin-bottom: 20px;
                margin-left: 14px;
              }
              @media screen and (max-width: 720px) {
                width: 70px;
                margin-bottom: 20px;
                margin-left: 6px;
              }

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                  @media screen and (max-width: 1560px) {
                    font-size: 40px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 21px;
                    line-height: 22px;
                  }
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                  margin-right: 10px;
                  @media screen and (max-width: 1560px) {
                    font-size: 12px;
                    margin-top: 10px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 6px;
                    margin-top: 0px;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
          &:nth-child(2) {
            .circleText {
              width: 170px;
              margin-bottom: 10px;
              margin-left: 10px;

              @media screen and (max-width: 1560px) {
                width: 110px;
                margin-bottom: 20px;
                margin-left: 14px;
              }
              @media screen and (max-width: 720px) {
                width: 60px;
                margin-bottom: 16px;
                margin-left: 4px;
              }

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                  @media screen and (max-width: 1560px) {
                    font-size: 40px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 21px;
                    line-height: 22px;
                  }
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                  margin-right: 20px;
                  @media screen and (max-width: 1560px) {
                    font-size: 12px;
                    margin-top: 10px;
                  }
                  @media screen and (max-width: 720px) {
                    font-size: 6px;
                    margin-top: 0px;
                    margin-right: 6px;
                  }
                }
              }
            }
          }
        }

        &:last-child,
        &:first-child {
          align-self: flex-end;
          width: 270px;
          height: 280px;

          @media screen and (max-width: 1560px) {
            width: 190px;
            height: 210px;
          }
          @media screen and (max-width: 720px) {
            width: 90px;
            height: 110px;
          }
        }
      }
    }

    .playBlock {
      position: relative;
      width: 1460px;
      height: 376px;
      margin: 0 auto;

      @media screen and (max-width: 1560px) {
        width: 1200px;
        height: 200px;
        margin-top: auto;
      }

      @media screen and (max-width: 720px) {
        width: 370px;
        height: 100%;
        margin-top: 40px;
      }

      @media screen and (max-width: 370px) {
        width: 356px;
      }

      .centerElem {
        width: 605px;
        height: 435px;
        position: absolute;
        bottom: 0;
        left: 430px;

        @media screen and (max-width: 1560px) {
          width: 385px;
          height: 277px;
          background-size: contain;
          background-repeat: no-repeat;
          left: 400px;
        }

        @media screen and (max-width: 720px) {
          width: 370px;
          height: 267px;
          left: 0;
          bottom: 0;
        }
        @media screen and (max-width: 370px) {
          width: 350px;
          height: 252px;
        }

        &.dark {
          background-image: url("../pngs/videomaking-center-black.webp");

          @media screen and (max-width: 720px) {
            background-image: url("../pngs/videomaking-center-black.png");

          }

        }
        &.light {
          background-image: url("../pngs/videomaking-center-light.webp");
        }
      }

      .partEl {
        width: 254px;
        height: 180px;
        position: absolute;
        bottom: 0;

        @media screen and (max-width: 1560px) {
          width: 160px;
          height: 113px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        @media screen and (max-width: 720px) {
          width: 80px;
          height: 80px;
        }

        &.dark {
          background-image: url("../pngs/videomaking-part-part-black.webp");

          @media screen and (max-width: 720px) {
            background-image: url("../pngs/videomaking-part-full-black.png");
          }
        }
        &.light {
          background-image: url("../pngs/videomaking-part-part-light.webp");

          @media screen and (max-width: 720px) {
            background-image: url("../pngs/videomaking-part-full-light.webp");
          }
        }

        &.first {
          left: 100px;
          @media screen and (max-width: 1560px) {
            left: 150px;
          }
          @media screen and (max-width: 720px) {
            left: 10px;
            bottom: 100px

          }
        }
        &.second {
          left: 1100px;
          @media screen and (max-width: 1560px) {
            left: 900px;
          }
          @media screen and (max-width: 720px) {
            left: 270px;
            bottom: 100px

          }
        }
      }
      .partFullEl {
        width: 254px;
        height: 228px;
        position: absolute;

        @media screen and (max-width: 1560px) {
          width: 160px;
          height: 144px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        @media screen and (max-width: 720px) {
          width: 80px;
          height: 80px;
        }
        &.dark {
          background-image: url("../pngs/videomaking-part-full-black.png");
        }
        &.light {
          background-image: url("../pngs/videomaking-part-full-light.webp");
        }

        &.first {
          left: 350px;
          @media screen and (max-width: 1560px) {
            left: 330px;
          }
          @media screen and (max-width: 720px) {
            top: 40px;
            left: 60px;
          }
        }
        &.second {
          left: 880px;
          @media screen and (max-width: 1560px) {
            left: 700px;

          }
          @media screen and (max-width: 720px) {

            top: 40px;
            left: 220px;
          }
        }
      }

      .playButton {
        position: absolute;
        top: -90px;
        z-index: 2;
        transform: translate3d(0, -10%, 0);
        animation: spin 1.4s infinite ease-in-out;

        &.dark {
          left: 660px;
          @media screen and (max-width: 1560px) {
            left: 550px;
            top: -50px;
          }
          @media screen and (max-width: 720px) {
            left: 140px;
            top: 130px;
          }
        }

        &.light {
          left: 600px;

          @media screen and (max-width: 1560px) {
            left: 510px;
          }
          @media screen and (max-width: 720px) {
            left: 104px;
            top: 100px;
          }
        }
      }

      p.playDescript {
        margin: 0;
        text-shadow: 0px 0px 5px #00edff;
        font-size: 24px;
        width: 280px;
        text-align: center;
        font-weight: 600;
        position: absolute;
        transition: 0.5s;
        z-index: 3;
        @media screen and (max-width: 1560px) {
          font-size: 16px;
          width: 200px;
        }

        @media screen and (max-width: 720px) {
          font-size: 12px;
          width: 110px;
        }

        &:hover {
          font-size: 28px;
          @media screen and (max-width: 1560px) {
            font-size: 18px;
          }
          @media screen and (max-width: 720px) {
            font-size: 14px;
          }
        }
        &.one {
          bottom: 120px;
          left: 90px;
          @media screen and (max-width: 1560px) {
            bottom: 90px;
            left: 130px;
          }
          @media screen and (max-width: 720px) {
            bottom: 170px;
            left: -4px;
          }
        }
        &.two {
          top: 0px;
          left: 340px;
          @media screen and (max-width: 1560px) {
            top: -20px;
            left: 310px;
          }
          @media screen and (max-width: 720px) {
            top: 10px;
            left: 43px;
          }
        }
        &.three {
          top: 0px;
          left: 865px;
          @media screen and (max-width: 1560px) {
            top: -20px;
            left: 680px;
          }
          @media screen and (max-width: 720px) {
            top: 214px;
            left: 256px;
            width: 100px;

          }
        }
        &.four {
          bottom: 120px;
          left: 1090px;
          @media screen and (max-width: 1560px) {
            bottom: 90px;
            left: 880px;
          }
          @media screen and (max-width: 720px) {
            top: 10px;
            left: 204px;
          }
        }
        &.dark {
          color: rgba(0, 237, 255, 1);
        }

        &.light {
          color: #383838;
          text-shadow: none;

          &:hover {
            color: #49a7ff;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, -10%, 0);
  }
  50% {
    transform: translate3d(0, 10%, 0);
  }
  100% {
    transform: translate3d(0, -10%, 0);
  }
}
