.withUssliderItem {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  h3 {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    @media screen and (max-width: 1560px) {
      font-size: 30px;
    }
  }

  .description {
    color: white;
    font-weight: 400;
    line-height: 22px;
    font-size: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 576px;
    position: absolute;
    font-family: "Montserrat", sans-serif;

    @media screen and (max-width: 1560px) {
      line-height: 19px;
      width: 470px;
    }

    @media screen and (max-width: 720px) {
      line-height: 7px;
      font-size: 7px;
      width: 200px;
    }
  }
  .job {
    min-width: 100px;
    min-height: 42px;
    position: absolute;

    @media screen and (max-width: 720px) {
      min-width: 60px;
      min-height: 32px;
    }

    p {
      margin: 8px 0;
    }
    p:first-child {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-style: italic;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;

      @media screen and (max-width: 1560px) {
        font-size: 20px;
      }
    }

    p:last-child {
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
      font-style: italic;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (max-width: 1560px) {
        font-size: 17px;
      }
    }
  }
  .photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.photo-item1 {
      background-image: url("../pngs/feedbacks/1.webp");
    }
    &.photo-item2 {
      background-image: url("../pngs/feedbacks/2.webp");
    }
    &.photo-item3 {
      background-image: url("../pngs/feedbacks/3.webp");
    }
    &.photo-item4 {
      background-image: url("../pngs/feedbacks/4.webp");
    }
    &.photo-item5 {
      background-image: url("../pngs/feedbacks/5.webp");
    }
    &.photo-item6 {
      background-image: url("../pngs/feedbacks/6.webp");
    }
    &.photo-item7 {
      background-image: url("../pngs/feedbacks/7.webp");
    }
    &.photo-item8 {
      background-image: url("../pngs/feedbacks/8.webp");
    }
    &.photo-item9 {
      background-image: url("../pngs/feedbacks/9.webp");
    }
    &.photo-item10 {
      background-image: url("../pngs/feedbacks/10.webp");
    }
    &.photo-item11 {
      background-image: url("../pngs/feedbacks/11.webp");
    }
    &.photo-item12 {
      background-image: url("../pngs/feedbacks/12.webp");
    }
    &.photo-item13 {
      background-image: url("../pngs/feedbacks/13.webp");
    }
    &.photo-item14 {
      background-image: url("../pngs/feedbacks/14.webp");
    }
    &.photo-item15 {
      background-image: url("../pngs/feedbacks/15.webp");
    }
    &.photo-item16 {
      background-image: url("../pngs/feedbacks/16.webp");
    }
    &.photo-item17 {
      background-image: url("../pngs/feedbacks/17.webp");
    }
    &.photo-item18 {
      background-image: url("../pngs/feedbacks/18.webp");
    }
    &.photo-item19 {
      background-image: url("../pngs/feedbacks/19.webp");
    }
    &.photo-item20 {
      background-image: url("../pngs/feedbacks/20.webp");
    }
  }

  .approv {
    position: absolute;
    width: 106px;
    height: 148px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;

    @media screen and (max-width: 1560px) {
      width: 98px;
      height: 140px;
    }

    @media screen and (max-width: 720px) {
      width: 30px;
      height: 42px;
    }

    .shadow {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 2px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      @media screen and (max-width: 720px) {
        width: 30px;
        height: 42px;
        img {
          width: 100%;
        }
      }
    }

    &.approv-item1 {
      background-image: url("../jpgs/1.webp");
    }
    &.approv-item2 {
      background-image: url("../jpgs/2.webp");
    }
    &.approv-item3 {
      background-image: url("../jpgs/3.webp");
    }
    &.approv-item4 {
      background-image: url("../jpgs/4.webp");
    }
    &.approv-item5 {
      background-image: url("../jpgs/5.webp");
    }
    &.approv-item6 {
      background-image: url("../jpgs/6.webp");
    }
    &.approv-item7 {
      background-image: url("../jpgs/7.webp");
    }
    &.approv-item8 {
      background-image: url("../jpgs/8.webp");
    }
    &.approv-item9 {
      background-image: url("../jpgs/9.webp");
    }
    &.approv-item10 {
      background-image: url("../jpgs/10.webp");
    }
    &.approv-item11 {
      background-image: url("../jpgs/11.webp");
    }
    &.approv-item12 {
      background-image: url("../jpgs/12.webp");
    }
    &.approv-item13 {
      background-image: url("../jpgs/13.webp");
    }
    &.approv-item14 {
      background-image: url("../jpgs/14.webp");
    }
    &.approv-item15 {
      background-image: url("../jpgs/15.webp");
    }
    &.approv-item16 {
      background-image: url("../jpgs/16.webp");
    }
    &.approv-item17 {
      background-image: url("../jpgs/17.webp");
    }
    &.approv-item18 {
      background-image: url("../jpgs/18.webp");
    }
    &.approv-item19 {
      background-image: url("../jpgs/19.webp");
    }
    &.approv-item20 {
      background-image: url("../jpgs/20.webp");
    }
  }

  &.dark {
    background-image: url("../pngs/withUs-black.webp");
    width: 1400px;
    height: 574px;

    @media screen and (max-width: 1560px) {
      width: 1000px;
      height: 500px;
    }

    @media screen and (max-width: 720px) {
      width: 335px;
      height: 300px;
      background-image: url("../pngs/WIthUsItemMobile.png");
    }
    @media screen and (max-width: 370px) {
      width: 290px;
    }

    .photo {
      top: 98px;
      left: 238px;
      position: absolute;
      width: 220px;
      height: 220px;
      border-radius: 50%;

      @media screen and (max-width: 1560px) {
        top: 93px;
        left: 112px;
        width: 180px;
        height: 180px;
      }

      @media screen and (max-width: 720px) {
        top: 45px;
        left: 146px;
        width: 70px;
        height: 70px;
      }

      @media screen and (max-width: 370px) {
        top: 58px;
        left: 125px;
        width: 62px;
        height: 62px;
      }
    }

    .approv {
      top: 350px;
      left: 1140px;

      @media screen and (max-width: 1560px) {
        top: 290px;
        left: 870px;
      }

      @media screen and (max-width: 720px) {
        top: 200px;
        left: 250px;
      }
      @media screen and (max-width: 370px) {
        top: 190px;
        left: 240px;
      }
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      color: white;
      left: 570px;
      top: 130px;

      @media screen and (max-width: 1560px) {
        left: 386px;
        top: 100px;
      }
      @media screen and (max-width: 720px) {
        left: 56px;
        top: 120px;
      }
      @media screen and (max-width: 370px) {
        left: 40px;
        top: 122px;
      }
    }

    .description {
      color: white;
      left: 570px;
      top: 230px;

      @media screen and (max-width: 1560px) {
        left: 386px;
        top: 180px;
      }

      @media screen and (max-width: 720px) {
        left: 46px;
        top: 145px;
      }
      @media screen and (max-width: 370px) {
        left: 40px;
        top: 145px;
      }
    }
    .job {
      left: 280px;
      top: 380px;

      @media screen and (max-width: 1560px) {
        left: 140px;
        top: 330px;
      }

      @media screen and (max-width: 720px) {
        left: 240px;
        top: 130px;
      }

      @media screen and (max-width: 370px) {
        left: 208px;
      }

      p {
        margin: 8px 0;
      }
      p:first-child {
        color: white;
        @media screen and (max-width: 720px) {
          font-size: 7px;
          margin: 0;
          line-height: 8px;
        }
      }

      p:last-child {
        color: rgba(141, 247, 255, 1);
        @media screen and (max-width: 720px) {
          font-size: 6px;
          margin: 0;
        }
      }
    }
  }

  &.light {
    background-image: url("../pngs/withUs-light.webp");
    width: 1375px;
    height: 574px;

    @media screen and (max-width: 1560px) {
      width: 1000px;
      height: 500px;
    }

    @media screen and (max-width: 720px) {
      width: 335px;
      height: 300px;
      background-image: url("../pngs/WIthUsItemMobile-light.png");
    }

    @media screen and (max-width: 370px) {
      width: 290px;
    }
    .photo {
      top: 79px;
      left: 220px;
      position: absolute;
      width: 220px;
      height: 220px;
      border-radius: 50%;

      @media screen and (max-width: 1560px) {
        top: 79px;
        left: 118px;
        width: 180px;
        height: 180px;
      }

      @media screen and (max-width: 720px) {
        top: 29px;
        left: 129px;
        width: 75px;
        height: 75px;
      }

      @media screen and (max-width: 370px) {
        top: 45px;
        left: 111px;
        width: 66px;
        height: 66px;
      }
    }

    .approv {
      top: 340px;
      left: 1140px;

      @media screen and (max-width: 1560px) {
        top: 260px;
        left: 860px;
      }
      @media screen and (max-width: 720px) {
        top: 200px;
        left: 250px;
      }
      @media screen and (max-width: 370px) {
        top: 194px;
        left: 246px;
      }
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      color: rgba(56, 56, 56, 1);
      left: 556px;
      top: 110px;

      @media screen and (max-width: 1560px) {
        left: 386px;
        top: 100px;
      }

      @media screen and (max-width: 720px) {
        left: 40px;
        top: 120px;
        font-size: 10px !important;
      }
      @media screen and (max-width: 370px) {
        left: 32px;
        top: 120px;
        font-size: 8px !important;

      }
    }

    .description {
      color: rgba(95, 95, 95, 1);
      left: 556px;
      top: 200px;

      @media screen and (max-width: 1560px) {
        left: 386px;
        top: 164px;
      }

      @media screen and (max-width: 720px) {
        left: 40px;
        top: 145px;
      }
      @media screen and (max-width: 370px) {
        left: 32px;
        top: 145px;
      }
    }
    .job {
      left: 280px;
      top: 380px;

      @media screen and (max-width: 1560px) {
        left: 150px;
        top: 314px;
      }

      @media screen and (max-width: 720px) {
        left: 220px;
        top: 130px;
      }
      @media screen and (max-width: 370px) {
        left: 220px;
        top: 130px;
      }
      p {
        margin: 8px 0;
      }
      p:first-child {
        color: rgba(56, 56, 56, 1);

        @media screen and (max-width: 720px) {
          font-size: 7px;
          margin: 0;
          line-height: 8px;
        }
      }

      p:last-child {
        color: rgba(95, 95, 95, 1);
        @media screen and (max-width: 720px) {
          font-size: 6px;
          margin: 0;
          line-height: 7px;
          margin-left: 3px;
        }
      }
    }
  }

  .parameters {
    width: 346px;
    height: 98px;
    position: absolute;

    @media screen and (max-width: 1560px) {
      width: 290px;
      height: 64px;
    }

    @media screen and (max-width: 720px) {
      width: 120px;
      height: 64px;
    }

    &.dark {
      top: 400px;
      left: 570px;

      @media screen and (max-width: 1560px) {
        top: 350px;
        left: 386px;
      }

      @media screen and (max-width: 720px) {
        top: 200px;
        left: 56px;
      }
      @media screen and (max-width: 370px) {
        top: 190px;
        left: 56px;
      }
      .percents {
        color: white;
      }

      section {
        color: white;

        .indicator {
          border: 1px solid rgba(0, 237, 255, 1);

          div {
            background-color: rgba(0, 237, 255, 1);
          }
        }
      }
    }

    &.light {
      top: 370px;
      left: 556px;

      @media screen and (max-width: 1560px) {
        top: 330px;
        left: 386px;
      }

      @media screen and (max-width: 720px) {
        top: 200px;
        left: 40px;
      }

      .percents {
        color: rgba(56, 56, 56, 1);
      }

      section {
        color: rgba(56, 56, 56, 1);

        .indicator {
          border: 1.1px solid white;
          box-shadow: 0px 0px 5px #4dffff;
          // box-shadow: 0px 0px 5px #4DFFFF inset;
          div {
            background: linear-gradient(270deg, #90b2fa 3.87%, #85f9f9 94.85%);
          }
        }
      }
    }

    .percents {
      font-family: "Montserrat", sans-serif;
      height: 14px;
      width: 245px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4px;
      font-size: 16px;

      @media screen and (max-width: 1560px) {
        font-size: 12px;
        width: 205px;
      }
      @media screen and (max-width: 720px) {
        font-size: 4px;
        width: 84px;
        margin-bottom: 0px;
      }
    }

    section {
      display: grid;
      grid-template-columns: 250px 90px;
      row-gap: 12px;
      column-gap: 15px;
      align-items: center;

      @media screen and (max-width: 1560px) {
        grid-template-columns: 200px 70px;
        row-gap: 8px;
      }

      @media screen and (max-width: 720px) {
        grid-template-columns: 76px 20px;
        row-gap: 4px;
      }

      p {
        font-size: 16px;
        margin: 0;
        font-family: "Montserrat", sans-serif;

        @media screen and (max-width: 1560px) {
          font-size: 12px;
        }

        @media screen and (max-width: 720px) {
          font-size: 4px;
        }
      }

      .indicator {
        width: 248px;
        height: 10px;

        @media screen and (max-width: 1560px) {
          width: 200px;
          height: 6px;
        }

        @media screen and (max-width: 720px) {
          width: 80px;
          height: 3px;
        }

        div {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
