.workStage {
  position: absolute;
  width: 280px;
  height: 300px;
  @media screen and (max-width: 1560px) {
    width: 190px;

  }

  &.dark {
    h4 {
      color: rgba(0, 237, 255, 1);
    }

    section {
      background: linear-gradient(180deg, rgba(98, 228, 247, 0.3) 0%, rgba(0, 76, 194, 0.3) 100%);

      p {
        color: white;
      }
    }
  }

  &.light {
    h4 {
      color: rgba(53, 53, 53, 1);
    }

    section {
      background: linear-gradient(112.84deg, rgba(226, 226, 226, 0.1) 21.38%, rgba(247, 247, 247, 0.1) 97.53%);
      border: 1px solid black;

      p {
        color: #383838;
      }
    }
  }

  h4 {
    max-width: 198px;
    position: absolute;
    left: 20px;
    top: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

    @media screen and (max-width: 1560px) {
      top: 46px;
      font-size: 14px;
      line-height: 13px;
    }
  }

  .arrowIcon {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 150px;

    @media screen and (max-width: 1560px) {
      left: 120px;
    }
  }


  section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 193px;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1560px) {
      height: 150px;

      }

    p {
      margin: 24px;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (max-width: 1560px) {
        margin: 8px;
        font-size: 12px;
        line-height: 13px;
        }
    }
  }
}
